*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.main {
  max-width: 750px;
  width: 750px;
}

.itemsBlock {
  display: flex;
  flex-wrap: wrap; /*Отвечает за смещение блоков на следующую строку*/
  justify-content: center;
  flex-direction: column;
}

.globalBlock {
  padding: 20px; /*Расстояние внутренних отступов*/
  border-radius: 25px; /*Закругление блока*/
  margin: 10px; /*Расстояние внешних отступов*/
  color: rgb(0, 0, 0); /*Цвет текста*/
  width: 100%; /*Ширина блока*/
  transition: 0.2s;
  text-align: center;
}

.globalBlock:hover {
  scale: 1.1;
}

.globalBlock h2 {
  font-size: 30px;
  margin: 0;
  margin-bottom: 10px;
}

.socialBlock {
  font-size: 15px; /*Размер шрифта*/
  background-color: #e8fde7;
  color: black;
}

.socialBlock a {
  color: rgba(83, 83, 83, 0.712);
}

.hobbyBlock {
  background-color: #fce2e2; /*Изменяется цвет блока*/
}

.hobbyBlock ol {
  color: rgba(68, 68, 68, 0.623);
}

.organizationBlock {
  background-color: rgba(173, 136, 171, 0.445);
  font-size: 20px;
}

.organizationBlock a {
  color: rgba(83, 83, 83, 0.712);
  text-decoration: overline;
}

.workExperienceBlock {
  background-color: #fef6db;
}

.workExperienceTable {
  background-color: rgb(255, 255, 255);
}

.workExperience th {
  padding: 5px;
}

.avatar {
  display: flex; /*Выравнивание элементов по горизонтали*/
  flex-direction: column; /*Выравнивание по вертикали*/
  background-color: rgba(80, 147, 202, 0.507);
  color: #fff;
  border-radius: 25px;
  margin: 10px;
  /* justify-content: center; Центральное горизонтальное выравнивание */
  align-items: center; /*Выравнивание по вертикали*/
  text-align: center;
  padding-bottom: 30px;
  width: 100%;
}

.avatar img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: unset;
  margin: 30px;
  transition: 0.2s;
}

.avatar img:hover {
  scale: 1.1;
}

.aboutMe h1 {
  text-decoration: overline;
  color: #35395cc4;
}

.aboutMe p {
  text-transform: uppercase;
}

.contactForm {
  background-color: rgba(90, 162, 196, 0.575);
}

.inputBlock {
  margin-bottom: 10px;
  width: 270px;
  display: flex;
  justify-content: space-between;
}

.socialButtonsBlock {
  cursor: pointer;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.socialButton {
  display: flex;
  align-items: center;
  margin-right: 10px;
  font-size: 20px;
  text-decoration: overline;
  color: rgba(53, 53, 53, 0.74);
}

.socialButton img {
  margin-right: 10px;
}

.hobbyButtons {
  display: flex;
  justify-content: center;
}

.hobbyButton {
  color: #fff;
  border-radius: 25px;
  padding: 10px 20px;
  margin: 20px;
  margin-top: 10px;
  background-image: linear-gradient(
    to right top,
    #bb9da9,
    #b592a9,
    #aa88ac,
    #9980b1,
    #817ab6,
    #8283be,
    #838bc5,
    #8494cc,
    #a7add8,
    #c6c7e5,
    #e4e2f2,
    #ffffff
  );
}

.buttonContact {
  border-radius: 50px;
  font-size: 16px;
  padding: 10px 20px; /*Можно написать одним свойством*/
  margin-top: 20px;
  background-color: rgb(35, 37, 37);
  color: rgb(255, 255, 255);
  border: 1px solid white; /*Рамка*/
  transition: 0.2s; /*Время анимации*/
  cursor: pointer; /*Курсор наведения "пальчик" */
}

.buttonContact:hover {
  background-color: #fff;
  color: black;
  border-color: black;
  margin-left: 10px;
  scale: 1.1; /*Увеличение кнопки*/
}
